
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white">Post Manager</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="onOpenModal(null, 'add')"
            >Add Post <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input
          type="search"
          (ngModelChange)="searchPosts(key.value)"
          #key="ngModel"
          ngModel
          name="key"
          id="searchName"
          class="form-control mr-sm-2"
          placeholder="Search post..."
          required
        />
      </form> -->
    </div>
  </nav>

  <div
    class="modal fade"
    id="addPostModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addPostModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPostModalLabel">Add Post</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddPost(addForm)">
            <div class="form-group">
              <label for="name">Post Title</label>
              <input
                type="text"
                ngModel
                name="postTitle"
                class="form-control"
                id="title"
                placeholder="Title"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Post Description</label>
              <input
                type="text"
                ngModel
                name="postDescription"
                class="form-control"
                id="description"
                placeholder="Description"
                required
              />
            </div>
            <div class="form-group">
              <label for="phone">Image URL</label>
              <input
                type="text"
                ngModel
                name="urlImage"
                class="form-control"
                id="imageUrl"
                placeholder="Image URL"
                required
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                id="add-post-form"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                [disabled]="addForm.invalid"
                type="submit"
                class="btn btn-primary"
              >
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>